.md {
    --ion-item-background: #c7417b;
    --ion-background-color: #E9DDF3;
    --ion-toolbar-background: #8f3b76;
    --ion-text-color: #E9DDF3;
}

.ios {
    --ion-item-background: #c7417b;
    --ion-background-color: #E9DDF3;
    --ion-toolbar-background: #8f3b76;
    --ion-text-color: #E9DDF3;
}

.scanner-buttons {
    position: absolute;
    bottom: 100px;
    height: 50px;
    width: 100vh;
    z-index: 11;
}

.scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    left: 50%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}